@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Docker Workshop</h2>
    <p class="lead"></p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <p style="float:right"></p><img src="~/Images/SlalomGraphic.PNG" alt="Alternate Text" /></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Docker Overview</h2>
        <p>
            Docker enables true independence between applications and infrastructure and developers and IT ops to unlock their potential and creates a model for better collaboration and innovation.
        </p>
        <p><a class="btn btn-default" href="https://www.docker.com/what-docker#/overview">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Docker in Action</h2>
        <p>"In this book, Jeff goes from zero to Docker, showing practices of deploying Docker in production and demonstrating many features of Docker."</p>
        <p><a class="btn btn-default" href="https://www.manning.com/books/docker-in-action">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Intro to Docker</h2>
        <p>Docker is a tool designed to make it easier to create, deploy, and run applications by using containers.</p>
        <p><a class="btn btn-default" href="https://opensource.com/resources/what-docker">Learn more &raquo;</a></p>
    </div>
</div>